.card-template{
    padding: 1rem;
    display: grid;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 1rem 3rem;
    border-radius: 10px;
    text-align: center;
}
