// Header
.header-layout {
  background-color: rgba(170, 159, 159, 0.351);
}


.burger-icon {
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
}

.burger {
  opacity: 0.4;
}

.burger:hover {
  opacity: 1;
}

.header-main{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}


.header-main-left {
  width: 100%;
  margin-left: 1rem;
  display: flex;
  align-items: center;

  &-logo>h2 {
    margin: 0;
    margin-left: 1rem;
  }

  &-burger {
    display: flex;
    align-items: center;
    justify-items: center;
  }
}

.header-main-right{
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  & > div > button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  &-info{
    display: flex;
    align-items: center;
  }
  &-more{
    display: flex;
    align-items: flex-end;
  }
}


// Sidenav
.sidenav-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.left-sidenav {
  padding-bottom: 20px;
  min-width: 15%;
  max-width: 30%;
  &-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}


// Menu

.nav-menu {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 6px 0;
  &-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: larger;
  
  
    user-select: none;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
  
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
}

.nav-menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.nav-menu-item:active {
  background-color: rgb(170, 170, 170);
}
